
body {
    font-family: 'Lilita One', cursive;
    background-color: #D2E9E9;
    padding: 30px;
}

@media screen and (max-width: 800px) {

    .container {

      margin: 1em 2em;

    }

    body{

        background-color:  #D2E9E9;

    }

    .megabox{
        display: flex;
         flex-direction: column; 
         
    }

  }


.hack1 {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
    /* background-color: #D2E9E9; */
    border-radius: 16px;
    margin-left: 10px;
}

/* .name {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
} */

.line-1 {
    height: 4px;
    background-color: #394867;
}

.line-2 {
    height: 4px;
    background-color: #394867;
}

.second-name {
        font-family: 'Permanent Marker', cursive;
}

.add {
    font-family: 'Permanent Marker', cursive;
}

.box {
    width: 184px;
    height: 115px;
    background-color: black;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #000000;
}

.box-2 {
    background-color: white;
    border-radius: 16px;
}

.about {
    background-color: #E3F4F4;
    border-radius: 16px;
    padding: 10px;
    width: fit-content;
    margin-top: 20px;
}

.c-1 {
    font-family: 'DM Serif Display', serif;
}

.quadrado1{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 20px;
    margin: auto;
}
.quadrado2{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 20px;
    margin: auto;
}
.quadrado3{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 20px;
    margin: auto;
}
.quadrado4{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 20px;
    margin: auto;
}
.quadrado5{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 20px;
    margin: auto;
}
.megabox{
    display: flex;
    /* flex-direction: column; */
}
.proffi{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 27px;
    margin: auto;
    width: fit-content;
    margin-top: 40px;
}
.main{
    max-width: 1080px;
    margin: 0 auto;
}
.pj{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 27px;
    margin: auto;
    width: fit-content;
    margin-top: 40px;
}
.pj-1{
    background-color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 8px #000000;
    padding: 27px;
    margin: auto;
    width: fit-content;
    margin-top: 40px;
 }
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.container{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}
#toggle{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #15181f;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffffff;
    top: 5px;
    left: 5px;
    border-radius: 50%;
}
.dark-theme{
    background-color: #15181f;
    color: black;
}
.dark-theme #toggle{
    background-color: #ffffffff;
}
.dark-theme #toggle::after{
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}
 .dark-theme h1{
    color: white;
}
.dark-theme .quadrado1{
    background-color: #000000;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .quadrado2{
    background-color: #000000;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .quadrado3{
    background-color: #000000;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .quadrado4{
    background-color: #000000;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .quadrado5{
    background-color: #000000;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .about{
    background-color: #000000;
}
.dark-theme .c-1{
    color: white;
}
.dark-theme .proffi{
    background-color: #000000;
    color: white;
}
.dark-theme .pj{
    background-color: #000000;
    color: white;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .pj-1{
    background-color: #000000;
    color: white;
    box-shadow: 2px 2px 4px white;
}
.dark-theme .tf-1{
    color: white;
}
.dark-theme .tf-2{
    color: white;
}
.dark-theme .gt-1{
    color: white;
}
.gt-1{
    color: black;
}
 .dark-theme p{
    color: white;
}
p{
    padding: 25px;
}
.dark-theme .proffi{
    box-shadow: 2px 2px 4px white;
}